* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

#husk {
    display:flex;
    flex-wrap:wrap;
    border: 2px solid black;
}
.gridbox{
    width:2.5%;
    padding-bottom:2.5%;
    border: 1px solid black;
}
.gridbox:hover{
    background:green;
}